

header { 
    display: block;
    width: 100%;
    height: 100px;
    text-align: left;
    font-weight: bolder;
    border-style: solid;
    border-color: black;
}

header a {
    display: inline-block;
    font-size: 280%;
}

header a:link, a:visited {
    text-decoration: none;
    color: black;
}

body {
    display: flex;
    flex-flow: column;
    min-height: 100vh;
}

.content {
    flex:1;
}

footer {
    width: 100%;
    bottom: 0;
    margin-bottom: 10px;
}

footer a {
    text-decoration: none;
    font-size: 140%;
}

#footer-name {
    display: block;
}

.icon-button {
    border-radius: 16px;
    border: 1px solid lightgray;
    height: 50px;
    width: 50px;
}

.icon-button:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.2), 0 17px 50px 0 rgba(0,0,0,0);
    transition-duration: 0.5s;
}








div.banner {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    border: 100px;
}

div.banner-text {
    margin-left: 60px;
    margin-right: 50px;
    font-size: 230%;
    flex: 40%;
    inherits:false;
}

div.banner-text form input {
    width: 50%;
    height: 70px;
    font-size: 50%;
}

div.banner-text a {
    font-size: 50%;
}

div.banner-image {
    right: 0px;
    flex: 60%;
    flex-wrap: wrap;
}

div.banner-image img {
    width: fit-content;
}

div.information {
    display: flex;
}

div.info-question {
    margin: 10px;
    flex: 40%;
    font-size: 280%;
    overflow-wrap: break-word;

}

div.information div.empty {
    flex: 10%
}

div.info-text {
    margin: 50px;
    flex: 45%;
    font-size:180%;
}

div.info-video {
    margin-left: 30%;
}

img {
    margin: 10px;
    width:fit-content;
}

div.enter-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}